.profile-text p{
    color: #000;
    font-weight:500;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.profile-text h5{
    color: #000;
    font-family: sans-serif;
    font-weight: bolder;
}
.icon-linkImg a img{
    margin:0;
    padding: 0;
    height: 40px;
    width: 40px;
    background-color: transparent;
}
.icon-linkImg a img:hover{
    background-color: aliceblue;
}
.nav-toggle{
    margin-left: 92%;
    padding: 0;
    outline: 0;
}
.profile-details img{
    border-radius: 50%;
   height: 200px;
   width: 200px;
   margin-top: 150px;
   margin-bottom:50px;
}
.details-setion{
    position: relative;
}
.both-item{
    padding-top: 100px;
    
}
.btn-details{
    background-color: rgb(45, 37, 54);
   font-size: medium;
   font-weight: 20px;
}
.btn-details:hover{
    background-color: rgb(114, 75, 150);
    border: 2px solid  rgb(114, 75, 150);
}
.img-information img{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}
.img-information img:hover{
    background-color: chartreuse;
}
.about-info{
    border-bottom: 2px solid rgb(45, 37, 54);
    margin-left: 18%;
    /* width: 82%; */
}
.about-details p{
    font-weight: 400;
   padding:10px 0;
    background-color: rgb(45, 37, 54);
    border-radius: 5%;
}
.skilImg-info{
    background-color: rgb(45, 37, 54);
    padding:10px 15px;
    border-radius: 10%;
}
.skilImg img{
    height: 70px;
    width: 70px;
}
.service-details img{
    height: 50px;
    width: 50px;
    padding-left: 5px;
    background-color: hsl(247, 11%, 69%);
    border-radius: 50%;
}
.service-info{
    border-left: 2px solid #fff;
    padding-left: 15px;
    margin-top:-10px;
}
.card-btn{
    margin-top: -47px;
}
.card-btnInfo{
    border: none;
    color: #fff;
    background:rgba(95, 93, 93,0.4);
    border-radius: 10%;
}
.card-btnInfo:hover{
    border: none;
    color: #000;
    background:#fff;
    border-radius: 10%;
}
.card-btnInfo a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: cursive;
}
.card-btnInfo a:hover{
    text-decoration: none;
    color: rgb(122, 118, 118);
    font-weight: 500;
}
/* Form part */

input,textarea{
    font-size: 20px;
    margin:2px 0;
    background-color: rgba(78, 78, 88,0.4);
    padding: 8px 100px;
    border: none;
    border-radius: 10px;
}
