.profile-details img{
    border-radius: 10px;
    position: absolute;
        height: 450px;
    width: 250px;
  z-index: 1;
  position: fixed;
}
.details-setion{
    position: relative;
}
.both-item{
    padding-top: 350px;
    margin-top: -150px;
}
.btn-details{
    background-color: rgb(45, 37, 54);
   font-size: medium;
   font-weight: 20px;
}
.btn-details:hover{
    background-color: rgb(114, 75, 150);
    border: 2px solid  rgb(114, 75, 150);
}
.img-information img{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}
.img-information img:hover{
    background-color: chartreuse;
}
.about-info{
    border-bottom: 2px solid rgb(45, 37, 54);
    margin-left: 18%;
    /* width: 82%; */
}
.about-details p{
    font-weight: 400;
   padding:10px 0;
    background-color: rgb(45, 37, 54);
    border-radius: 5%;
}
.skilImg-info{
    background-color: rgb(45, 37, 54);
    padding:10px 15px;
    border-radius: 10%;
}
.skilImg img{
    height: 70px;
    width: 70px;
}
.service-details img{
    height: 50px;
    width: 50px;
    padding-left: 5px;
    background-color: hsl(247, 11%, 69%);
    border-radius: 50%;
}
.service-info{
    border-left: 2px solid #fff;
    padding-left: 15px;
    margin-top:-10px;
}
.card-btn{
    margin-top: -47px;
}
.card-btnInfo{
    border: none;
    color: #fff;
    background:rgba(95, 93, 93,0.4);
    border-radius: 10%;
}
.card-btnInfo:hover{
    border: none;
    color: #000;
    background:#fff;
    border-radius: 10%;
}